<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString"
            connectionString="Data Source=.;Initial Catalog=Monolito4am;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>